# Ignorer les fichiers compilés
*.class

# Ignorer le dossier build
build/

# Ignorer le dossier dist
dist/

# Ignorer les fichiers NetBeans privés
nbproject/private/

# Ignorer les fichiers temporaires
*.log
*.bak

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers jar générés
*.jar
